/* weather app */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0, 95);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherform {
  margin: 20px;
}
.cityinput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsl(0, 0%, 20%, 0.3%);
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}
button[type="submit"] {
  padding: 5px 15px;
  font-weight: bold;
  font-size: 2rem;
  background-color: green;
  border-radius: 25px;
  color: white;
  border: none;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: hsl(122, 39%, 40%);
}
