body {
  font-family: verdana;
  font-size: 1.2rem;
}
#mysubmit {
  font-size: 1em;
}
.submit {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgba(132, 212, 239, 0.929);
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.submit:hover {
  background-color: deepskyblue;
}
